.locp-switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 20px;
  }
  
  .locp-switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .locp-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .locp-slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .lcop-wrap input:checked + .locp-slider {
    background-color: #2196F3;
  }
  
  .lcop-wrap input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  .lcop-wrap input:checked + .locp-slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .locp-slider.locp-round {
    border-radius: 34px;
  }
  
  .locp-slider.locp-round:before {
    border-radius: 50%;
  }


  /*nav bar*/
  .locp-admin-nav ul {
    display: flex;
    list-style: none;
    margin: 20px 0;
    padding: 0;
    border-bottom: 1px solid #ddd;
}
.locp-admin-nav li {
    margin: 0px;
    padding: 8px 16px;
    cursor: pointer;
    border: 1px solid transparent;
}
.locp-admin-nav li.active {
    border-color: #0073aa;
    background-color: #0073aa;
    color: #fff;
}
.locp-tab-content {
    display: none;
}
.locp-tab-content.active {
    display: block;
}