.loc-toc.design6{
    bottom: 220px;
    left: 5px;
    height: 360px;
    position: fixed;
    top: 0;
    transform: translateY(220px);
    background-color: #fff;
    border-radius: 8px;
    width: 280px;
    padding: 20px;
    z-index: 100;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.08);
    margin-top: 0;
}
.loc-toc.design6 #list-table-of-contents{
    font-size: 18px;
    color: #5C637E !important;
    font-weight: 500;
    border-bottom: 1px solid #EBEEF5;
    padding-bottom: 12px;
    margin: 0 0 5px 0;
}
.loc-toc.design6 #list-table-of-contents::after{
    content: "x";
    position: absolute;
    right: 20px;
    cursor: pointer;
}
.loc-toc.design6.loc-closed{
    height: 15px;
    bottom: 0px;
    top: auto;
    transform: none;
    width: 200px
}

.loc-toc.design6.loc-closed #list-table-of-contents{
    font-size: 16px;
}
.loc-toc.design6 nav{
    font-size: 14px;
    color: #5C637E !important;
    font-weight: 500;
    border-bottom: 1px solid #EBEEF5;
    padding-bottom: 12px;
    margin: 0 0 0 0;
}

.loc-toc.design6 nav ol{
    margin: 0;
    padding: 0 0 0 30px;
    max-height: 310px;
    overflow-y: auto;
    overflow-x: hidden;
    transition: 0.3s;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.loc-toc.design6 nav ol li{
    margin: 0;
    padding: 0;
}
.loc-toc.design6 nav ol > li:not(:last-child) {
    margin-bottom: 13px !important;
}

.loc-toc.design6 nav ol li a{
    text-shadow: none;
    text-decoration: none;
    display: block;
    transition: .3s;
    color: #5C637E;
}

/*Responsive*/
@media only screen and (max-width: 1499px) {
}
@media only screen and (max-width: 1299px) {
}

@media only screen and (max-width: 991px) {
    .loc-toc.design6 {
        position: static;
        width: 100%;
        margin-left: 0;
        transform: translateY(0);
    }
    .loc-toc.design6 #list-table-of-contents::after{
        content: "";
    }
    .loc-toc.design6.loc-closed{
        width: 100%
    }
}