/* General TOC Styles */
.loc-toc {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ddd;
    background: #f9f9f9;
}

.loc-toc ol {
    list-style: none;
    padding-left: 15px;
}

.loc-toc li {
    margin: 5px 0;
}
.loc-toc #list-table-of-contents{
    font-weight: 500;
    font-size: 120%;
    display: initial;
    text-align: left;
    line-height: 1.45;
    margin: 0;
    padding: 0 0 0 10px;
}

/* Design 3 */
.loc-toc.design3 {
    border-color: #28a745;
    background: #e9f7ef;
}

.loc-toc.design3 a {
    color: #28a745;
    text-decoration: none;
}

.loc-toc.design3 a:hover {
    text-decoration: underline;
}
